.header__logo {
    margin: 0;
    width: 142.01px;
    max-width: 100%;
    padding: 0;
    transition: opacity .4s;
}

@media all and (max-width: 890px) {
    .header__logo {
        width: 103.74px;
        margin-left: 30px;
    }
}