.profile__name {
    margin: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 133%;
    grid-area: name;
    text-overflow: ellipsis;
    max-width: 75vw;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 890px) {
    .profile__name {
        font-size: 27px;
        text-align: center;
        justify-self: center;
    }
}