.authform__signin {
  width: 100%;
  justify-content: space-evenly;
  margin-top: 15px;
  display: inline-flex;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  transition: opacity .2s linear;
}