.profile__job {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    grid-area: job;
    align-self: baseline;
    text-overflow: ellipsis;
    max-width: 75vw;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 890px) {
    .profile__job {
        margin: 6px auto 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        max-width: 95vw;/*идеально*/
    }
}