.footer__copyright{
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    padding: 66px 0 60px;
}

@media screen and (max-width: 890px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
        padding: 48px 19px 36px;
    }
}