@import url('./__photobtn/profile__photobtn.css');
@import url('./__photobtn-overlay/profile__photobtn-overlay.css');
@import url('./__name/profile__name.css');
@import url('./__job/profile__job.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__add-button/profile__add-button.css');

.profile{
    max-width: 890px;
    width: 95vw;
    margin: 0 auto;
    padding: 36px 0 47px;
    display: grid;
    grid-template-columns: 157px auto 40px 1fr 150px;
    grid-template-areas: 'photo name eddb . addb' 'photo job . . addb';
    align-items: center;
}

@media screen and (max-width: 890px) {
    .profile {
        padding: 36px 0 0;
        grid-template-columns: 1fr minmax(1px, auto) min-content 1fr;
        grid-template-areas: 'photo photo photo photo' '. name eddb .' 'job job job job' 'addb addb addb addb';
    }
}