.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 282px);
    grid-gap: 20px 18px;
    justify-content: center; /*это нужно*/
    width: 95vw;
    max-width: 890px;
    margin: 0 auto; /*и это одновременно тоже нужно*/
    padding: 0;
    list-style: none;
}
