.page__container {
    max-width: 1200px;
    min-width: 300px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
}