.profile__edit-button{
    height: 24px;
    width: 24px;
    grid-area: eddb;
    padding: 0;
    margin: 10px;
    background: url(../../../images/editbutton.svg) center no-repeat;
    border: 1px solid #FFF;
    justify-self: start;
}

@media screen and (max-width: 890px) {
    .profile__edit-button {
        margin: 0 0 0 10px;
        height: 18px;
        width: 18px;
        align-self: center;
    }
}