.profile__add-button{
    margin: 36px 0;
    width: 150px;
    height: 50px;
    grid-area: addb;
    padding: 0;
    border: 2px solid #FFF;
    font-size: 40px;
    color: #FFF;
    border-radius: 2px;
    background: url(../../../images/plus.svg) center no-repeat;
}

@media screen and (max-width: 890px) { /*мобильные*/
    .profile__add-button {
        max-width: 100%;
        width: 282px;
        margin: 36px auto;
    }
}