.popup__form {
  /* display: flex; */
  max-width: 430px;
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

@media screen and (max-width: 500px) {
  .popup__form {
    width: calc(100% - 60px);
  }
}

/* похоже, лучше не делать мз на высоту, а то кнопка сохранить уходит за пределы экрана, тк по высоте не сжимается */
/* @media screen and (max-height: 400px) {
  .popup__form {
    width: 100vh;
    margin-top: 20vh;
  }
} */