.popup__info {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  width: 280px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000;
  margin: 40px auto 50px;
}
