@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/gallery/gallery.css');
@import url('./blocks/card/card.css');
@import url('./blocks/zoom/zoom.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/_is-opened/popup_is-opened.css');
@import url('./blocks/hover-style/hover-style.css');
@import url('./blocks/authform/authform.css');

/* *{
    outline: 1px solid red;
} */
