@import url('./__info/popup__info.css');
@import url('./__union/popup__union.css');
@import url('./__close/popup__close.css');
@import url('./__close/_figure/popup__close_figure.css');
@import url('./__form/popup__form.css');
@import url('./__content/popup__content.css');
@import url('./__title/popup__title.css');
@import url('./__input/popup__input.css');
@import url('./__input/_type_error/popup__input_type_error.css');
@import url('./__error/popup__error.css');
@import url('./__error/_visible/popup__error_visible.css');
@import url('./__button/popup__button.css');
@import url('./__button/_disabled/popup__button_disabled.css');

.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .5s, linear .5s
}